<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.radford.softeng16.iRU"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/rulogo"
        android:label="@string/app_name" >
        <uses-library android:name="com.google.android.maps" />
        <activity android:name=".IRUSplash"
            android:label="@string/app_name">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".IRUMaps" 
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity android:name=".IRUSports" 
            android:label="@string/sports_header">
        </activity>
        <activity android:name=".IRUDining" 
            android:label="@string/dining_header">
        </activity>
        <activity android:name=".IRUActivities" 
            android:label="@string/activities_header">
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".IRUActivity" >
        </activity>
    </application>
	
</manifest>